<mat-card class="w-64 p-4 mb-4" style="margin-top: 16px;">
  <mat-card-title>{{ book()?.title }}</mat-card-title>

  <mat-card-content class="grid grid-cols-5 gap-4 py-2">
    <div>
      <strong>Author:</strong> {{ book()?.author }}
    </div>
    <div>
      <strong>Genre:</strong> {{ book()?.genre }}
    </div>
    <div>
      <strong>Published:</strong> {{ book()?.publishedYear }}
    </div>
    <div>
      <strong>Available:</strong> {{ book()?.available }}
    </div>
    <div class="flex items-center">
      <strong class="mr-2">Score:</strong>
      <div class="flex">
        @for (i of [1, 2, 3, 4, 5]; track i) {
          @switch (getStarType(i, book()?.score)) {
            @case ('full') {
              <span class="star" style="--percent: 100%">★</span>
            }
            @case ('half') {
              <span class="star" style="--percent: 50%">★</span>
            }
            @default {
              <span class="star" style="--percent: 0%">★</span>
            }
          }
        }
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="mt-4 flex gap-2">
    <button mat-flat-button class="EditButton" (click)="editBook()">Edit</button>
    <button mat-flat-button class="DeleteButton" (click)="deleteBook()">Delete</button>
  </mat-card-actions>
</mat-card>
